body {
  margin: 0px;
  background-color: hsl(0, 40%, 50%);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: hsl(0, 0%, 95%);
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

.container > div {
  padding: 50px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  /* width: 150px; */
  flex-basis: 100%;
  border-radius: 8px 8px 0px 0px; /*top-left, top-right, bottom-right, bottom-left*/
}

.button1 {
  color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
  /* width: 150px; */
  flex-basis: 100%;
  padding: 20px;
  /* text-align: justify; */
}

.button2 {
  color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  /* width: 150px; */
  flex-basis: 100%;
  padding: 20px;
  /* text-align: justify; */
  border-radius: 0px 0px 8px 8px;
}

.button3 {
  color: hsl(179, 100%, 13%);
}

h2 {
  font-family: "Big Shoulders Display", sans-serif;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
}

a {
  border-radius: 15px;
  padding: 10px 20px;
  border: none;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
  text-decoration: none;
}

a:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 376px) {
  .main {
    height: 100dvh;
    /* max-width: 100%; */
  }
  .container {
    flex-direction: row;
  }

  .sedans {
    border-radius: 8px 0px 0px 8px; /*top-left, top-right, bottom-right, bottom-left*/
  }

  .luxury {
    border-radius: 0px 8px 8px 0px; /*top-left, top-right, bottom-right, bottom-left*/
  }
}

/* @media (min-width: 667px) {
  .main {
    background-color: white;
  }
} */
